/* You can add global styles to this file, and also import other style files */
.Agradecimiento{
    font-weight: bold;
    background-color: rgb(147, 147, 187);
    margin: 5px;
    padding: 10px;
    font-variant-numeric: ordinal;
}